doctype html
html
  head
    title Riya Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul 
          div#logo 
            img(src ="/static/img/logo.png")
            | RDA
            li #[a(href='/') Home ]
            li #[a(href='/') About ]
            li #[a(href='/') Services ]
            li #[a(href='/') Class info]
            li #[a(href='/') Contact Us ]

    section#introSection 
        div Welcome to Riya's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection 
        h2 Our Mission
        div.card 
          h3  Dance Perfection 
          div.card-box 
            div.card-img 
              img(src="/static/img/card1.png")

            div.card-content 
              p This is the best dance academy   

        div.card 
          h3  Dance in blood 
          div.card-box 
            div.card-img 
              img(src="/static/img/card2.png")

            div.card-content 
              p This is the best dance academy  

        div.card 
          h3  Expert teaching
          div.card-box 
            div.card-img 
              img(src="/static/img/card3.png")

            div.card-content 
              p This is the best dance academy  

    section#sponsorsSection 
        h2 Our Sponsors
        div#sponsors 
          img(src="/static/img/sponsor1.png", alt="sponsor image", class="spImage")
          img(src="/static/img/sponsor2.png", alt="sponsor image", class="spImage")
          img(src="/static/img/sponsor3.png", alt="sponsor image", class="spImage")

    footer#footer 
        | Copyright @2023 riyadance@academy.com

        
    script
      include ../static/index.js